*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: white;
    display: flex;
    align-items: center; 
    padding: 30px 20px;
    justify-content: space-between;
}
h1{
    color: rgb(255, 255, 255);
    text-align: center;
}
header li {
    list-style: none;
}
header li a {
    color: black;
    text-decoration: none;
}
.topic li a{
    font-size: 22px;
    font-weight: 600;
    padding-left: 20px;
}
header a:hover {
    text-decoration: underline;
}
.list ul {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}
.icon {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon img {
    object-fit: cover;      /* 保持比例並填滿圓形 */
    display: block;
}
footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0px;
}
.個人資料 ul{
    width: 300px;
    padding: 30px;
    margin: 20px auto; /* 讓個人資料區塊水平置中 */
    text-align: center;
    list-style: none;
    color: white;
}
:root main{
    background-image: url(./照片/IMG_8328.JPG);
    background-size: cover;
    background-position: center;
    /*background-color: #5f624e;*/
    padding-top: 150px;
    padding-bottom: 150px;
}
.home{
    align-items:center;
}
.name{
    display: inline-block;
}
.title-1{
    justify-content:center;
    text-align:center;
    padding-top: 30px;
}
.photo{
    margin: 30px auto;
    float: left;
    width: 260px;
    height: 350px;
}
.self{
    padding: 30px;
    color:white;
}
.myself{
    display: flex;
    height: 600px;
    width: 700px;
    margin: 0 auto;
    align-items: center;
}
body section{
    /*background-image: url(./照片/IMG_8329.JPG);
    background-size: cover;
    background-position: center;*/
    background-color: #5f624e;
}
.about-1{
    text-align:center;
    padding-bottom: 30px;
    color:black;
}
.about{
    margin: 100px auto;
}
.div{
    width: 300px;
    height: 400px;
    display: block;
    border: 1px solid;
    border-radius: 20px; 
    backdrop-filter: blur(70px);
    background: rgba(225, 225, 225, 0.5);
    box-shadow: 5px 5px 10px;
}
.div:hover {
    transform: scale(1.06); /* 滑鼠經過放大 6% */
    box-shadow: 10px 10px 30px ;
}
.boxs{
    gap: 30px;
    display: flex;
    justify-content: center;
    margin: 0px auto;
}
.img{
    width: 300px ;
    height: 300px ;
    display: block;
    margin: 0px auto;
    padding: 40px;
}
.Lorem{
    display:block;
    text-align: center;
}
.project-1{
    text-align:center;
    padding: 30px 0px;
    color:black;
}
.thing{
    width: 210px;
    height: 143px;
    border: 1px solid;
    display: inline-flex;
    /*align-items: center;
    justify-content: center;*/
}
.thing:hover {
    transform: scale(1.06); /* 滑鼠經過放大 6% */
    box-shadow: 10px 10px 30px ;
}
.sun{
    width: 200px;
    height: 140px;
}
.things{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.project{
    margin: 80px auto;
}
